/* importing google font  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,900&family=Oswald&family=Poppins:ital,wght@0,400;0,500;1,400&family=Supermercado+One&display=swap');

body {

    font-family: 'Poppins', sans-serif;

}

/* main section  */

main {

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Section-1 start  */

.container {

    width: 80%;
    background-color: #77BAD2;
    padding: 10px;
    margin-top: 50px;
    border-radius: 30px;
    margin-bottom: 100px;
}


.hero-section {

    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.hero-heading {

    width: 40%;
    margin-top: 70px;
}

.hero-heading h1 {

    font-size: 50px;
    font-weight: 700px;
    color: white;
    margin: -1px 0;
}

.hero-heading p {

    color: white;
    margin-top: 20px;
    margin-bottom: 40px;
}

.hero-heading a {

    text-decoration: none;
    color: black;
    padding: 16px 25px;
    background-color: white;
    font-weight: bold;
    border-radius: 3px;
}

.side-arrow {

    transition: transform 0.5s ease-in;

}

.anim-btn:hover .side-arrow {

    transform: translateX(10px);
}

.hero-img {

    width: 50%;

}

.hero-img img {

    width: 90%;
    transition: transform 1s ease-out;
}

.hero-img:hover img {

    transform: translateX(30px);

}


/* Section-1 Ends  */


/* section 2 start  */

.container2 {

    width: 80%;
    margin-bottom: 100px;
}

.match-fixture {

    display: flex;
    justify-content: center;


}

.short-nav {

    width: 200px;
    height: 230px;
    display: flex;
    flex-direction: column;
    background-color: #77BAD2;
    padding: 30px;
    margin: 0 30px 0 0;
    border-radius: 10px;

}

.nav-btn {

    width: 100%;
    padding: 15px 0;
    text-align: center;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px 0;
}

.nav-btn:hover {

    text-decoration: none;
    background-color: #D5FEFC;
    border: 1px solid #D5FEFC;

}

.nav-btn a {

    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

#nav-sp-btn {

    width: 100%;
    padding: 15px 0;
    text-align: center;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 0;

}

#nav-sp-btn a {

    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.match-cards {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

}

.cards {

    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 30px 20px;
    text-align: center;
    transition: box-shadow 0.2s linear;
}

.cards:hover {

    box-shadow: 0px 0px 26px 7px rgba(0, 0, 0, 0.29);

}

.cards h4 {

    font-size: 20px;
    font-weight: 600;
    margin: -3px 0;

}

.cards small {


    font-size: 12px;
    font-weight: 400;
    color: #4D4D4D;


}

.teams {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.team-flag img {

    width: 100%;
}


/* Section-2 Ends  */


/* footer  starts */

footer {

    background-color: #77BAD2;
    padding: 40px;
    text-align: center;
}

.footer-text {

    color: white;
}


.horizontal-line {

    width: 80%;
    margin: 0 auto;

}

.footer-menu {

    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.footer-menu a {

    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: small;
    padding: 30px;
    transition: transform 0.2s ease-in-out;
}

.footer-menu a:hover {

    transform: scale(1.2);
}



.social i {

    color: white;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    margin: 5px;
}

.social i:hover {

    opacity: 0.7;
}

/* Footer Ends  */




/* responsive medium screen start-------------------------------------------------------------------------------  */

@media screen and (min-width:577px) and (max-width:991px) {

    /* Section-1 start  */

    .container {
        width: 90%;
        background-color: #77BAD2;
        margin-top: 30px;
        border-radius: 30px;
        margin-bottom: 10px;
    }


    .hero-section {

        display: flex;
        justify-content: space-around;

    }

    .hero-heading {

        width: 50%;
        margin-top: 40px;
    }

    .hero-heading h1 {

        font-size: 30px;
        font-weight: 700px;
        color: white;
        margin: -1px 0;
    }


    .hero-img {

        width: 50%;

    }

    .hero-img img {

        width: 100%;


    }


    /* Section-1 Ends  */


    /* Section-2 start  */

    .container2 {

        width: 90%;
        margin-top: 10px;
        margin-bottom: 80px;
    }

    .match-fixture {

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .short-nav {

        display: flex;
        flex-direction: row;
        background-color: white;
        width: 100%;
        height: 75px;
        margin: 10px 0px;
        border-radius: 10px;
    }

    .nav-btn {


        text-align: center;
        background-color: white;
        border: 1px solid black;
        border-radius: 10px;
        margin: 10px;

    }

    #nav-sp-btn {


        text-align: center;
        background-color: black;
        border: 1px solid black;
        border-radius: 10px;
        margin: 10px;

    }

    .match-cards {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .cards {

        padding: 30px;
        text-align: center;
    }

    /* Section-2 Ends  */


    /* footer start  */

    .footer-menu {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;

    }

    /* footer ends  */


}




/* responsive for mobile screen---------------------------------------------------------------------------  */

@media screen and (max-width:576px) {

    /* Section-1 start  */

    .container {

        width: 90%;
        padding: 10px;
        margin-top: 30px;
        border-radius: 30px;
        margin-bottom: 10px
    }

    .hero-section {

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .hero-heading {

        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .hero-heading h1 {

        font-size: 30px;
        font-weight: 700px;
        color: white;
        margin: -1px 0;
    }

    .hero-img {

        width: 100%;
        margin-top: 40px;

    }

    .hero-img img {

        width: 100%;
    }

    /* Section-1 Ends  */


    /* Section-2 start  */

    .container2 {

        width: 90%;
        margin-bottom: 30px;
    }

    .match-fixture {

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .short-nav {

        width: 200px;
        height: 230px;
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 30px;
        margin: 0;
        border-radius: 10px;

    }

    .nav-btn {

        width: 100%;
        padding: 15px 0;
        text-align: center;
        background-color: white;
        border: 1px solid black;
        border-radius: 10px;
        margin: 10px 0;
    }

    .match-cards {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    /* Section-2 Ends  */


    /* footer start  */

    .footer-menu {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;

    }

    .footer-menu a {

        text-decoration: none;
        color: white;
        font-weight: 500;
        font-size: small;
        padding: 15px;
    }

    /* footer Ends  */


}